/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "mixins";

body {
  font: $man-font;
  font-weight: $man-font-weight;
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: $white-color;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px 2px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid $black-color;

  &:focus {
    outline: $blue-color auto 5px;
  }
}

.content-wrapper {
  margin: 20px;
}
