/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "mixins";

button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: $white-color;
  cursor: pointer;
}
