/* You can add global styles to this file, and also import other style files */
@import "variables";

@mixin flag-size($size){
  display: block;
  width: auto;
  height: auto;
  max-width: $size;
  max-height: $size;
}
