//---- COLORS ----//
$man-main-color: #ff920a;
$grey-color: #eeeeee;
$grey-visible-color: #686868;
$black-color: #000000;
$white-color: #ffffff;
$blue-color: #1da1f2;
$border-grey: 1px solid rgba(20, 23, 26, 0.12);

//---- FONT ----//
$man-font: 16px 'Roboto', sans-serif;
$man-font-weight: 300;
