<div *ngIf="(countryDetails$ | async) as countryDetails" class="content-wrapper">
  <div class="title">
    <button (click)="goBack()" class="back-btn">Back</button>
    <span>Details</span>
  </div>

  <div class="details-content">
    <div class="flag-section">
      <img src="{{countryDetails.flag}}" alt="country flag" class="flag">
    </div>

    <div>
      <div>
        <h3>Name:</h3>
        <div>{{countryDetails.name}}</div>
      </div>

      <div>
        <h3>Languages:</h3>
        <div *ngFor="let language of countryDetails.languages">
          <div>{{language.name}}</div>
        </div>
      </div>

      <div>
        <h3>Timezones:</h3>
        <div *ngFor="let timezone of countryDetails.timezones">
          <div>{{timezone}}</div>
        </div>
      </div>

      <div>
        <h3>Borders:</h3>
        <div *ngFor="let border of countryDetails.borders">
          <div>{{border}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
