<div class="content-wrapper">
  <div class="details-content">
    <div class="title">
      <button (click)="goBack()" class="back-btn">Back</button>
      <span>Details</span>
    </div>

    <div *ngIf="(countryDetails$ | async) as countryDetails" class="details-section">
      <div class="flag-section">
        <img src="{{countryDetails.flag}}" alt="country flag" class="flag">
      </div>

      <div>
        <div>
          <h3>Name:</h3>
          <div>{{countryDetails.name}}</div>
        </div>

        <div>
          <h3>Languages:</h3>
          <span *ngFor="let language of countryDetails.languages">
            {{language.name}};
          </span>
        </div>

        <div>
          <h3>Timezones:</h3>
          <span *ngFor="let timezone of countryDetails.timezones">
            {{timezone}};
          </span>
        </div>

        <div>
          <h3>Borders:</h3>
          <span *ngFor="let border of countryDetails.borders">
            {{border}};
          </span>
        </div>
      </div>
    </div>

    <div #mapElement class="map"></div>
  </div>
</div>

<button (click)="openForm = true" class="contact-btn" *ngIf="!openForm">Contact</button>

<man-contact-form *ngIf="openForm" (closeForm)="openForm = $event"></man-contact-form>

