<div *ngIf="(countries$ | async) as countries" class="content-wrapper">
  <table>
    <thead>
      <th class="count-ceil">Count</th>
      <th class="flag-ceil">Flag</th>
      <th>Name</th>
      <th>Population</th>
    </thead>

    <tbody *ngFor="let country of countries | searchByName:(searchService.searchTerms$ | async); let i = index" [routerLink]="['/country', country.name]">
      <tr>
        <td class="count-ceil">{{i+1}}</td>
        <td class="flag-ceil">
          <img src="{{country.flag}}" alt="country flag" class="flag">
        </td>
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
      </tr>
    </tbody>
  </table>
</div>

