<man-search-field></man-search-field>

<div *ngIf="(countries$ | async) as countries">
  <div *ngFor="let country of countries | searchByName:(searchService.searchTerms$ | async); let i = index" class="country-row" [routerLink]="['/country', country.name]">
    <span class="count">{{i+1}}</span>
    <span><img src="{{country.flag}}" alt="country flag" class="flag"></span>
    <span class="country-name">{{country.name}}</span>
    <span class="country-population">{{country.population}}</span>
  </div>
</div>

