@import "variables";
@import "mixins";

.flag {
  @include flag-size(40px)
}

.country-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;

  &:nth-child(odd) {
    background-color: $grey-color;
  }
}

.count {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.country-name {
  width: 200px;
}

.country-population {
  width: 100px;
}
