.flag-image {
  display: block;
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.country-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.count {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.country-name {
  width: 200px;
}

.country-population {
  width: 100px;
}
